{% set current_page = 'dashboard' %}
{% extends 'StarterBaseBundle:Default:index.html.twig' %}

{% block mainbar %}

      <div class="page-head">

        <h2 class="pull-left">Dashboard</h2>

        <div class="clearfix"></div>

      </div>

{% endblock %}